//
// Written by Synplify Pro 
// Product Version "N-2018.03G-Beta6"
// Program "Synplify Pro", Mapper "mapgw, Build 1086R"
// Mon Sep  3 23:03:21 2018
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\gowin\1.8\synplifypro\lib\generic\gw1n.v "
// file 1 "\c:\gowin\1.8\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\gowin\1.8\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\gowin\gowin-blink\src\demo.v "
// file 6 "\c:\gowin\1.8\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
module demo (
  clk_50M,
  rst_n,
  led
)
;
input clk_50M ;
input rst_n ;
output [3:0] led ;
wire clk_50M ;
wire rst_n ;
wire [24:0] cnt;
wire [24:6] cnt_3;
wire [3:0] led_c;
wire clk_led ;
wire VCC ;
wire GND ;
wire clk_led4 ;
wire clk_50M_c ;
wire rst_n_c ;
wire un3_cnt_cry_0_0_SUM ;
wire un3_cnt_cry_1_0_SUM ;
wire un3_cnt_cry_2_0_SUM ;
wire un3_cnt_cry_3_0_SUM ;
wire un3_cnt_cry_4_0_SUM ;
wire un3_cnt_cry_5_0_SUM ;
wire un3_cnt_cry_6_0_SUM ;
wire un3_cnt_cry_7_0_SUM ;
wire un3_cnt_cry_8_0_SUM ;
wire un3_cnt_cry_9_0_SUM ;
wire un3_cnt_cry_10_0_SUM ;
wire un3_cnt_cry_11_0_SUM ;
wire un3_cnt_cry_12_0_SUM ;
wire un3_cnt_cry_13_0_SUM ;
wire un3_cnt_cry_14_0_SUM ;
wire un3_cnt_cry_15_0_SUM ;
wire un3_cnt_cry_16_0_SUM ;
wire un3_cnt_cry_17_0_SUM ;
wire un3_cnt_cry_18_0_SUM ;
wire un3_cnt_cry_19_0_SUM ;
wire un3_cnt_cry_20_0_SUM ;
wire un3_cnt_cry_21_0_SUM ;
wire un3_cnt_cry_22_0_SUM ;
wire un3_cnt_cry_23_0_SUM ;
wire un3_cnt_s_24_0_SUM ;
wire un3_cnt_cry_0 ;
wire un3_cnt_cry_1 ;
wire un3_cnt_cry_2 ;
wire un3_cnt_cry_3 ;
wire un3_cnt_cry_4 ;
wire un3_cnt_cry_5 ;
wire un3_cnt_cry_6 ;
wire un3_cnt_cry_7 ;
wire un3_cnt_cry_8 ;
wire un3_cnt_cry_9 ;
wire un3_cnt_cry_10 ;
wire un3_cnt_cry_11 ;
wire un3_cnt_cry_12 ;
wire un3_cnt_cry_13 ;
wire un3_cnt_cry_14 ;
wire un3_cnt_cry_15 ;
wire un3_cnt_cry_16 ;
wire un3_cnt_cry_17 ;
wire un3_cnt_cry_18 ;
wire un3_cnt_cry_19 ;
wire un3_cnt_cry_20 ;
wire un3_cnt_cry_21 ;
wire un3_cnt_cry_22 ;
wire un3_cnt_cry_23 ;
wire rst_n_c_i ;
wire clk_led_i_i ;
wire clk_led4_11 ;
wire clk_led4_13 ;
wire clk_led4_14 ;
wire clk_led4_15 ;
wire clk_led4_16 ;
wire clk_led4_17 ;
wire clk_led4_18 ;
wire clk_led4_22 ;
wire un3_cnt_s_24_0_COUT ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @5:18
  INV rst_n_ibuf_RNIBNDC (
	.I(rst_n_c),
	.O(rst_n_c_i)
);
// @5:18
  INV clk_led_i_i_cZ (
	.I(clk_led),
	.O(clk_led_i_i)
);
// @5:28
  LUT2 \cnt_3_cZ[6]  (
	.I0(un3_cnt_cry_6_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[6])
);
defparam \cnt_3_cZ[6] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[16]  (
	.I0(un3_cnt_cry_16_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[16])
);
defparam \cnt_3_cZ[16] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[24]  (
	.I0(un3_cnt_s_24_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[24])
);
defparam \cnt_3_cZ[24] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[11]  (
	.I0(un3_cnt_cry_11_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[11])
);
defparam \cnt_3_cZ[11] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[12]  (
	.I0(un3_cnt_cry_12_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[12])
);
defparam \cnt_3_cZ[12] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[13]  (
	.I0(un3_cnt_cry_13_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[13])
);
defparam \cnt_3_cZ[13] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[14]  (
	.I0(un3_cnt_cry_14_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[14])
);
defparam \cnt_3_cZ[14] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[18]  (
	.I0(un3_cnt_cry_18_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[18])
);
defparam \cnt_3_cZ[18] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[19]  (
	.I0(un3_cnt_cry_19_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[19])
);
defparam \cnt_3_cZ[19] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[20]  (
	.I0(un3_cnt_cry_20_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[20])
);
defparam \cnt_3_cZ[20] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[21]  (
	.I0(un3_cnt_cry_21_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[21])
);
defparam \cnt_3_cZ[21] .INIT=4'h2;
// @5:28
  LUT2 \cnt_3_cZ[22]  (
	.I0(un3_cnt_cry_22_0_SUM),
	.I1(clk_led4),
	.F(cnt_3[22])
);
defparam \cnt_3_cZ[22] .INIT=4'h2;
// @5:28
  LUT3 clk_led4_cZ (
	.I0(clk_led4_17),
	.I1(clk_led4_18),
	.I2(clk_led4_22),
	.F(clk_led4)
);
defparam clk_led4_cZ.INIT=8'h80;
// @5:28
  LUT4 clk_led4_22_cZ (
	.I0(clk_led4_13),
	.I1(clk_led4_14),
	.I2(clk_led4_15),
	.I3(clk_led4_16),
	.F(clk_led4_22)
);
defparam clk_led4_22_cZ.INIT=16'h8000;
// @5:28
  LUT4 clk_led4_18_cZ (
	.I0(clk_led4_11),
	.I1(cnt[0]),
	.I2(cnt[1]),
	.I3(cnt[23]),
	.F(clk_led4_18)
);
defparam clk_led4_18_cZ.INIT=16'h0080;
// @5:28
  LUT4 clk_led4_13_cZ (
	.I0(cnt[2]),
	.I1(cnt[3]),
	.I2(cnt[4]),
	.I3(cnt[5]),
	.F(clk_led4_13)
);
defparam clk_led4_13_cZ.INIT=16'h8000;
// @5:28
  LUT4 clk_led4_14_cZ (
	.I0(cnt[11]),
	.I1(cnt[12]),
	.I2(cnt[13]),
	.I3(cnt[14]),
	.F(clk_led4_14)
);
defparam clk_led4_14_cZ.INIT=16'h8000;
// @5:28
  LUT4 clk_led4_15_cZ (
	.I0(cnt[16]),
	.I1(cnt[18]),
	.I2(cnt[19]),
	.I3(cnt[20]),
	.F(clk_led4_15)
);
defparam clk_led4_15_cZ.INIT=16'h8000;
// @5:28
  LUT4 clk_led4_16_cZ (
	.I0(cnt[6]),
	.I1(cnt[21]),
	.I2(cnt[22]),
	.I3(cnt[24]),
	.F(clk_led4_16)
);
defparam clk_led4_16_cZ.INIT=16'h4000;
// @5:28
  LUT4 clk_led4_17_cZ (
	.I0(cnt[7]),
	.I1(cnt[8]),
	.I2(cnt[9]),
	.I3(cnt[10]),
	.F(clk_led4_17)
);
defparam clk_led4_17_cZ.INIT=16'h0001;
// @5:28
  LUT2 clk_led4_11_cZ (
	.I0(cnt[15]),
	.I1(cnt[17]),
	.F(clk_led4_11)
);
defparam clk_led4_11_cZ.INIT=4'h1;
// @5:18
  DFFC \cnt_Z[5]  (
	.Q(cnt[5]),
	.D(un3_cnt_cry_5_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[4]  (
	.Q(cnt[4]),
	.D(un3_cnt_cry_4_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[3]  (
	.Q(cnt[3]),
	.D(un3_cnt_cry_3_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[2]  (
	.Q(cnt[2]),
	.D(un3_cnt_cry_2_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[1]  (
	.Q(cnt[1]),
	.D(un3_cnt_cry_1_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[0]  (
	.Q(cnt[0]),
	.D(un3_cnt_cry_0_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:53
  DFFC \led_Z[3]  (
	.Q(led_c[3]),
	.D(led_c[2]),
	.CLK(clk_led),
	.CLEAR(rst_n_c_i)
);
// @5:53
  DFFC \led_Z[2]  (
	.Q(led_c[2]),
	.D(led_c[1]),
	.CLK(clk_led),
	.CLEAR(rst_n_c_i)
);
// @5:53
  DFFC \led_Z[1]  (
	.Q(led_c[1]),
	.D(led_c[0]),
	.CLK(clk_led),
	.CLEAR(rst_n_c_i)
);
// @5:53
  DFFP \led_Z[0]  (
	.Q(led_c[0]),
	.D(led_c[3]),
	.CLK(clk_led),
	.PRESET(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[20]  (
	.Q(cnt[20]),
	.D(cnt_3[20]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[19]  (
	.Q(cnt[19]),
	.D(cnt_3[19]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[18]  (
	.Q(cnt[18]),
	.D(cnt_3[18]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[17]  (
	.Q(cnt[17]),
	.D(un3_cnt_cry_17_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[16]  (
	.Q(cnt[16]),
	.D(cnt_3[16]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[15]  (
	.Q(cnt[15]),
	.D(un3_cnt_cry_15_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[14]  (
	.Q(cnt[14]),
	.D(cnt_3[14]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[13]  (
	.Q(cnt[13]),
	.D(cnt_3[13]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[12]  (
	.Q(cnt[12]),
	.D(cnt_3[12]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[11]  (
	.Q(cnt[11]),
	.D(cnt_3[11]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[10]  (
	.Q(cnt[10]),
	.D(un3_cnt_cry_10_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[9]  (
	.Q(cnt[9]),
	.D(un3_cnt_cry_9_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[8]  (
	.Q(cnt[8]),
	.D(un3_cnt_cry_8_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[7]  (
	.Q(cnt[7]),
	.D(un3_cnt_cry_7_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[6]  (
	.Q(cnt[6]),
	.D(cnt_3[6]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[24]  (
	.Q(cnt[24]),
	.D(cnt_3[24]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[23]  (
	.Q(cnt[23]),
	.D(un3_cnt_cry_23_0_SUM),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[22]  (
	.Q(cnt[22]),
	.D(cnt_3[22]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFC \cnt_Z[21]  (
	.Q(cnt[21]),
	.D(cnt_3[21]),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i)
);
// @5:18
  DFFCE clk_led_Z (
	.Q(clk_led),
	.D(clk_led_i_i),
	.CLK(clk_50M_c),
	.CLEAR(rst_n_c_i),
	.CE(clk_led4)
);
// @5:9
  IBUF clk_50M_ibuf (
	.O(clk_50M_c),
	.I(clk_50M)
);
// @5:10
  IBUF rst_n_ibuf (
	.O(rst_n_c),
	.I(rst_n)
);
// @5:13
  OBUF \led_obuf[0]  (
	.O(led[0]),
	.I(led_c[0])
);
// @5:13
  OBUF \led_obuf[1]  (
	.O(led[1]),
	.I(led_c[1])
);
// @5:13
  OBUF \led_obuf[2]  (
	.O(led[2]),
	.I(led_c[2])
);
// @5:13
  OBUF \led_obuf[3]  (
	.O(led[3]),
	.I(led_c[3])
);
// @5:33
  ALU un3_cnt_s_24_0 (
	.CIN(un3_cnt_cry_23),
	.I0(cnt[24]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_s_24_0_COUT),
	.SUM(un3_cnt_s_24_0_SUM)
);
defparam un3_cnt_s_24_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_23_0 (
	.CIN(un3_cnt_cry_22),
	.I0(cnt[23]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_23),
	.SUM(un3_cnt_cry_23_0_SUM)
);
defparam un3_cnt_cry_23_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_22_0 (
	.CIN(un3_cnt_cry_21),
	.I0(cnt[22]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_22),
	.SUM(un3_cnt_cry_22_0_SUM)
);
defparam un3_cnt_cry_22_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_21_0 (
	.CIN(un3_cnt_cry_20),
	.I0(cnt[21]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_21),
	.SUM(un3_cnt_cry_21_0_SUM)
);
defparam un3_cnt_cry_21_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_20_0 (
	.CIN(un3_cnt_cry_19),
	.I0(cnt[20]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_20),
	.SUM(un3_cnt_cry_20_0_SUM)
);
defparam un3_cnt_cry_20_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_19_0 (
	.CIN(un3_cnt_cry_18),
	.I0(cnt[19]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_19),
	.SUM(un3_cnt_cry_19_0_SUM)
);
defparam un3_cnt_cry_19_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_18_0 (
	.CIN(un3_cnt_cry_17),
	.I0(cnt[18]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_18),
	.SUM(un3_cnt_cry_18_0_SUM)
);
defparam un3_cnt_cry_18_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_17_0 (
	.CIN(un3_cnt_cry_16),
	.I0(cnt[17]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_17),
	.SUM(un3_cnt_cry_17_0_SUM)
);
defparam un3_cnt_cry_17_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_16_0 (
	.CIN(un3_cnt_cry_15),
	.I0(cnt[16]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_16),
	.SUM(un3_cnt_cry_16_0_SUM)
);
defparam un3_cnt_cry_16_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_15_0 (
	.CIN(un3_cnt_cry_14),
	.I0(cnt[15]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_15),
	.SUM(un3_cnt_cry_15_0_SUM)
);
defparam un3_cnt_cry_15_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_14_0 (
	.CIN(un3_cnt_cry_13),
	.I0(cnt[14]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_14),
	.SUM(un3_cnt_cry_14_0_SUM)
);
defparam un3_cnt_cry_14_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_13_0 (
	.CIN(un3_cnt_cry_12),
	.I0(cnt[13]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_13),
	.SUM(un3_cnt_cry_13_0_SUM)
);
defparam un3_cnt_cry_13_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_12_0 (
	.CIN(un3_cnt_cry_11),
	.I0(cnt[12]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_12),
	.SUM(un3_cnt_cry_12_0_SUM)
);
defparam un3_cnt_cry_12_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_11_0 (
	.CIN(un3_cnt_cry_10),
	.I0(cnt[11]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_11),
	.SUM(un3_cnt_cry_11_0_SUM)
);
defparam un3_cnt_cry_11_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_10_0 (
	.CIN(un3_cnt_cry_9),
	.I0(cnt[10]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_10),
	.SUM(un3_cnt_cry_10_0_SUM)
);
defparam un3_cnt_cry_10_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_9_0 (
	.CIN(un3_cnt_cry_8),
	.I0(cnt[9]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_9),
	.SUM(un3_cnt_cry_9_0_SUM)
);
defparam un3_cnt_cry_9_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_8_0 (
	.CIN(un3_cnt_cry_7),
	.I0(cnt[8]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_8),
	.SUM(un3_cnt_cry_8_0_SUM)
);
defparam un3_cnt_cry_8_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_7_0 (
	.CIN(un3_cnt_cry_6),
	.I0(cnt[7]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_7),
	.SUM(un3_cnt_cry_7_0_SUM)
);
defparam un3_cnt_cry_7_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_6_0 (
	.CIN(un3_cnt_cry_5),
	.I0(cnt[6]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_6),
	.SUM(un3_cnt_cry_6_0_SUM)
);
defparam un3_cnt_cry_6_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_5_0 (
	.CIN(un3_cnt_cry_4),
	.I0(cnt[5]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_5),
	.SUM(un3_cnt_cry_5_0_SUM)
);
defparam un3_cnt_cry_5_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_4_0 (
	.CIN(un3_cnt_cry_3),
	.I0(cnt[4]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_4),
	.SUM(un3_cnt_cry_4_0_SUM)
);
defparam un3_cnt_cry_4_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_3_0 (
	.CIN(un3_cnt_cry_2),
	.I0(cnt[3]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_3),
	.SUM(un3_cnt_cry_3_0_SUM)
);
defparam un3_cnt_cry_3_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_2_0 (
	.CIN(un3_cnt_cry_1),
	.I0(cnt[2]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_2),
	.SUM(un3_cnt_cry_2_0_SUM)
);
defparam un3_cnt_cry_2_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_1_0 (
	.CIN(un3_cnt_cry_0),
	.I0(cnt[1]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_1),
	.SUM(un3_cnt_cry_1_0_SUM)
);
defparam un3_cnt_cry_1_0.ALU_MODE=0;
// @5:33
  ALU un3_cnt_cry_0_0 (
	.CIN(VCC),
	.I0(cnt[0]),
	.I1(GND),
	.I3(GND),
	.COUT(un3_cnt_cry_0),
	.SUM(un3_cnt_cry_0_0_SUM)
);
defparam un3_cnt_cry_0_0.ALU_MODE=0;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* demo */

